<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% if locale %}
            <script type="text/javascript">
                window.locale='{{ locale }}';
                window.theme='{{ theme }}';
                window.screensaverTimeout={{ screensaverTimeout }};
                window.screensaverPhotoDuration={{ screensaverPhotoDuration }};
                window.screensaverToDayModeHour={{ screensaverToDayModeHour }};
                window.screensaverToNightModeHour={{ screensaverToNightModeHour }};
                window.surveillanceExternal={% if surveillanceExternal %}true{% else %}false{% endif %};
            </script>
        {% endif %}
    </head>
    <body id="main-body"{% if theme %} class="theme-{{ theme }}"{% endif %}>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
